{% extends "base.html" %}

{% block title %}Cable My Street - Test Api{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1>Endpoints</h1>
            <p><a href="/getCMSResponse">/getCMSResponse</a> - Initial response for Cable My Street Application</p>
            <p><a href="/registerCustomer">/registerCustomer</a> - Register customer interest</p>
            <p><a href="/sendEmail">/sendEmail</a> - Send Email</p>
            <p><a href="/authorizeAccess">/authorizeAccess</a> - Authorize access for VM internal staff</p>
        </div>
    </div>

{% endblock %}